.catalog-btn {    
    height: 49px;
    margin: 0;
    padding: 14px 30px 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F188F2;
    border-radius: 5px;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.5px; 
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);   
/* Montserrat */
}

.catalog-btn:hover{
    opacity: 0.8;
}
@media screen and (max-width: 909px) {
    .catalog-btn {         
        padding: 14px 15px 15px 15px;        
        font-size: 14px;        
        line-height: 17px;        
    }
}
@media screen and (max-width: 781px) {
    .catalog-btn {        
        padding: 14px 15px 15px 15px;
        font-size: 12px;              
    }
    
}
@media screen and (max-width: 768px) {
    .catalog-btn {        
        padding: 15px 50px;        
        font-size: 16px;        
        line-height: 19.5px;
        margin: 0 auto;                   
    }    
}
@media screen and (max-width: 580px) {
    .catalog-btn {         
        padding: 15px 30px;
        font-size: 14px;        
        line-height: 17px;                    
    }    
}
@media screen and (max-width: 540px) {
    .catalog-btn {         
        padding: 15px;                    
    }    
}