.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;    
}

.card__img {
    width: 100%; 
    /* aspect-ratio: 3/4;    */
    border-radius: 7px;
    height: auto;
    object-fit: cover;
}

.card__title-section {
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.card__title {
    display: flex;
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.8px;
    margin: 15px auto 0 auto;
    text-align:center;
    padding: 0;
    letter-spacing: 1px;
    text-decoration: none;  
}

@media screen and (max-width: 768px) {   
    .card__title {
        font-size: 14px;        
        line-height: 18.2px;
        margin: 10px auto 0 auto;      
    }
}
