.card {
    max-width: 329px;    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;    
}

.card__img {
    width: 100%;    
    border-radius: 7px;
}

.card__title-section {
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.card__title {
    display: flex;
    color: #000000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.8px;
    margin: 15px auto 0 auto;
    text-align:center;
    padding: 0;
    letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
    .card__title {
        font-size: 14px;        
        line-height: 18.2px;
        margin: 15px auto 0 auto;       
        letter-spacing: 2px;
    }
}
