.card {    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;     
}

.card__img {
    width: 100%;
    /* aspect-ratio: 3/4;    */
    border-radius: 7px;
    height: auto;
    object-fit: cover;
}

.card__title-section {
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    
}
.card__title-product {
    display: block;
    max-width: 90%; /* Максимальная ширина блока */
    /* overflow-wrap: break-word; Переносит длинные слова на новую строку */    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(58, 58, 58, 1);
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.8px;
    margin-top: 0;
    text-align:center;
    padding: 0;
    letter-spacing: 2px;   
}

.card__price-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0 2px 0;
}
.card__price-action {
    display: flex;
    color: #000000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.8px;
    margin: 0 auto;
    text-align:center;
    padding: 0;
    letter-spacing: 1px;
}
.card__price-action::after {
    content: "p";
}
.card__price {
    display: flex;
    align-items: flex-end;
    margin: 0 auto 3px auto;
    color:  #8B8B8B;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;    
    text-align:center;
    padding: 0;
    letter-spacing: 1px;
    text-decoration-line: line-through; /*зачеркивание текста*/
    text-decoration-color: #8B8B8B; /* Цвет зачеркивания */    
}
.card__price::after {
    content: "p";
}
.card__product-action {
    display: flex;
    align-items: flex-end;
    margin: 0 auto 3px auto;
    color: #FF32A1;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;    
    text-align:center;
    padding: 0;
    letter-spacing: 1px; 
}
.card__product-action::after {
    content: "%";
}

@media screen and (max-width: 768px) {    
    .card__title-product {
        font-size: 12px;        
        line-height: 15.6px;      
    }
} 
