.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.header-top__catalog-set {
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 100%;
}