.sections {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;  
    justify-content: space-around;
}
@media screen and (max-width: 768px) {
    .sections {
        display: none;       
    }
}
