.sections-bootom {
    display: flex;
    flex-direction: row;    
    align-items: center;
    margin: 0;    
    justify-content: space-between;
}

.sections-bootom__nav-box {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 1265px) {
    .sections-bootom__nav-box {        
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 1003px) {
    .sections-bootom {
       width: 100%;
       margin: 0 15px;
    }  
}

@media screen and (max-width: 850px) {
    .sections-bootom__nav-box {        
        gap: 20px;
    }    
}

@media screen and (max-width: 732px) {
    .sections-bootom__nav-box {        
        gap: 10px;
    }    
}