.sections__nav-box {
    display: flex;
    margin: 0;
    padding: 0;
}
.sections__nav {
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.8px;
    color: #000000; 
}
.sections__nav-action {
    color: #FC42FF;
}