.sections__nav-box {
    display: flex;
    margin: 0;
    padding: 0;
}
.sections__nav {
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.8px;
    color: #000000; 
}
.sections__nav-action {
    color: #FC42FF;
}
@media screen and (max-width: 1350px) {
    .sections__nav {
        margin-right: 30px;        
    }
}
@media screen and (max-width: 1256px) {
    .sections__nav {
        margin-right: 24px;       
        font-size: 14px;        
        line-height: 17.07px;        
    }
}
@media screen and (max-width: 1028px) {
    .sections__nav {
        margin-right: 15px;       
        font-size: 12px;        
        line-height: 17.07px;        
    }
}
@media screen and (max-width: 805px) {
    .sections__nav {
        margin-right: 15px;       
        font-size: 11px;        
        line-height: 17.07px;        
    }
}
@media screen and (max-width: 773px) {
    .sections__nav {
        margin-right: 10px;             
    }
}
@media screen and (max-width: 768px) {
    .sections__nav {
        margin: 0 20px 0 15px;        
        font-size: 16px;        
        line-height: 20.8px;       
    }
}
@media screen and (max-width: 726px) {
    .sections__nav {
        margin: 0 15px 0 10px;        
        font-size: 14px;
        line-height: 17.07px;        
    }
}
@media screen and (max-width: 600px) {
    .sections__nav {                
        font-size: 12px;
        line-height: 15.5px;      
    }
}
/* @media screen and (max-width: 500px) {
    .sections__nav {
      margin-right: 0;      
      font-size: 14px;      
      text-align: center;             
    }
}      */
