.sections__nav-box {
    display: flex;
    margin: 0;
    padding: 0;
}

.sections__nav {
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin-right:0;
    text-decoration: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.8px;
    color: #000000;
    transition: color 0.3s ease; 
}

.sections__nav-context-menu {
    display: flex;    
    font-size: 24px;   
    line-height: 31.2px;     
}

.sections__nav:hover {    
    color: #EB8D90;
}

.sections__nav-action {
    color: #FC42FF;
}

.sections__nav-action:hover {    
    color: #EB8D90;
}

@media screen and (max-width:768px) {
    .sections__nav-box_bootom:last-child {
        display: none;        
    }
    .sections__nav-context-menu {
        display: flex;    
        font-size: 24px;   
        line-height: 31.2px;     
    }
}

@media screen and (max-width:550px) {
    .sections__nav-box_bootom:nth-of-type(3) {
        display: none;        
    }
}

@media screen and (max-width: 500px) {
    .sections__nav-box:first-child {
        display: flex;        
    }
    .sections__nav {
        font-size: 14px;     
        line-height: 18.8px;        
    }
}

@media screen and (max-width: 290px) {
    .sections__nav {
        font-size: 12px;     
        line-height: 17.07px;        
    }
}

