.hours__set {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 0;
}
.hours__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.6px;
    color: #000000;
    padding-bottom: 1px;
    margin: 0;
}
.hours__operating {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18.2px;
    color: #000000;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 1045px) {
    .hours__operating {
        font-size: 12px;
        line-height: 17px;        
    }
}
@media screen and (max-width: 812px) {
    .hours__title {        
        font-size: 11px;
        line-height: 15px;        
    }
    .hours__operating {
        font-size: 11px;
        line-height: 15px;        
    }
}
@media screen and (max-width: 768px) {
    .hours__title {        
        font-size: 12px;
        line-height: 15.6px;             
    }
    .hours__operating {
        font-size: 14px;
        line-height: 18.2px;      
    }
}
@media screen and (max-width: 572px) {
    .hours__title {        
        font-size: 11px;
        line-height: 14.6px;             
    }
    .hours__operating {
        font-size: 12px;
        line-height: 15.5px;      
    }
}
@media screen and (max-width: 436px) {
    .hours__set {        
        display: none;             
    }    
}
