.search {
    display: flex;
    max-width: 443px;      
    margin: 0 60px 0 16px;   
    align-items: center;
}

.search__form {
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.search__input-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 105%;
    border-radius: 9px;
    border: 2px solid #A9A9A9;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.search__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 330px;    
    height: 49px;
    border: none;
    border-color: #8B8B8B;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.07px;
    color: #7B7B7B;    
    margin: 0;
}
.search__button {
    display: flex;
    align-items: center;
    padding: 0;    
    border: none;
    background: transparent;
    cursor: pointer; 
}   

.search__button:hover {
    opacity: 0.8;
}

.search__img {
    display: flex;   
    width: 10px;
    height:10px;
    margin: 0 10px 0 18px;  
}

.search__error {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
    color: #EE3465;    
    display: block;
    opacity: 1;
    min-height: 12px;
    margin: 10px 0 0 0;     
}

@media screen and (max-width:1100px) { 
    .search {       
        max-width: 237px;      
        margin: 0 30px 0 10px;             
    }
    .search__input {        
        max-width: 237px;        
    }
}
@media screen and (max-width:870px) { 
    .search {       
        max-width: 165px;      
        margin: 0 20px 0 10px;             
    }
    .search__input {        
        max-width: 115px;        
    }
}
@media screen and (max-width: 773px) {
    .search {       
        max-width: 183px;      
        margin: 0 20px 0 10px;                     
    }
    .search__input {        
        max-width: 136px; 
        font-size: 12px;        
        line-height: 15.07px;       
    }    
}
@media screen and (max-width:768px) { 
    .search {       
        max-width: 443px;
        margin: 0 auto;               
    }
    .search__input {
        max-width: 315px;
        font-weight: 500;
        font-size: 14px;        
        line-height: 17.07px;               
    }    
    .search__img {
        display: flex;   
        width: 20px;
        height: 20px;
        margin: 0 20px 0 28px;  
    }
}
@media screen and (max-width:750px) {   
    .search__input {
        max-width:204px;                     
    }    
    .search__img {         
        width: 15px;
        height: 15px;
        margin: 0 10px 0 13px;        
    }
}
@media screen and (max-width:690px) {   
    .search__input {
        max-width:150px;                     
    }    
}
@media screen and (max-width:529px) {   
    .search__input {
        max-width:132px;                     
    }    
}
@media screen and (max-width:500px) { 
    .search {       
        max-width: 200px;
        margin: 0 12px 0 4px;                
    }
    .search__input-container {
        border-radius: 0;
        border: none;
       
    }    
    .search__input {
        width: 110px;
        font-weight: 400;               
        padding: 1px;        
    }
    .search__img {
        width: 20px;
        height:20px;
        margin: 0 10px 0 18px;      
    }    
}