.header {
    display: flex;
    flex-direction:column;
    padding: 30px;
    margin: 0 auto;
}
@media screen and (max-width: 1130px) {
    .header {
      padding: 15px;        
    }
}
@media screen and (max-width: 768px) {
    .header {
        display: none;        
    }
}