.header {
    display: flex;    
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 30px 0;
    /* position: fixed;
    top: 0;
    background: currentColor;
    z-index: 5; */
}

.header-container {
    display: flex;
    flex-direction:column;    
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}
@media screen and (max-width: 1130px) {
    .header-container {
      padding: 0 15px;        
    }
}
@media screen and (max-width: 768px) {
    .header {
        display: none;        
    }
}