.social-media {
    display: flex;    
    width: 30px;
    height: 30px;
    color: transparent;
    margin: 0 15px 0 0;
}
.social-media__nav {
    background-color: transparent; /* Цвет кнопки по умолчанию */
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
    border: 2px solid transparent; /* Прозрачная рамка */
}
.social-media__nav:hover{
    opacity: 0.6;    
    cursor: pointer;    
}
.social-media__nav-box {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1070px) {
    .social-media {
        display: flex;    
        width: 25px;
        height: 25px;        
    }
}
@media screen and (max-width: 903px) {
    .social-media {           
        width: 20px;
        height: 20px;        
    }
}
@media screen and (max-width: 893px) {
    .social-media {
        display: none;              
    }
    .social-media__burger-menu {
        display: flex;
    }  
}
@media screen and (max-width: 768px) {
    .social-media {
        display: flex;
        width: 25px;
        height: 25px;              
    }
    .social-media__footer {
        width: 30px;
        height: 30px;
        margin: 0 15px 0 15px;
    }
}
@media screen and (max-width: 680px) {
    .social-media {       
        width: 15px;
        height: 15px;              
    }
}
@media screen and (max-width: 660px) {
    .social-media {       
        display: none;             
    } 
    .social-media__burger-menu {
        display: flex;
        margin-right: 25px;
    }     
}