.catalog-btn {    
    height: 49px;
    margin: 0;
    padding: 15px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F188F2;
    border-radius: 5px;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.5px; 
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);   
/* Montserrat */
}

.catalog-btn:hover{
    opacity: 0.8;
}

.catalog-burgen-img {
    margin-right: 5px;
}

@media screen and (max-width: 1165px) {
    .catalog-btn {         
        padding: 15px;            
    }
}

@media screen and (max-width: 909px) {
    .catalog-btn {              
        font-size: 14px;        
        line-height: 17px;        
    }
}

@media screen and (max-width:850px) { 
    .catalog-btn {        
        height: 42px;       
    }
}

@media screen and (max-width: 781px) {
    .catalog-btn {       
        font-size: 12px;              
    }    
}

@media screen and (max-width: 768px) {
    .catalog-btn {        
        font-size: 16px;        
        line-height: 19.5px;
        margin: 0;                   
    }    
}

@media screen and (max-width: 580px) {
    .catalog-btn {       
        font-size: 14px;        
        line-height: 17px;                    
    }    
}

@media screen and (max-width: 400px) {
    .catalog-btn {       
       display: none;                 
    }    
}