body {
  margin: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;  
  min-width: 320px;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 529px) {
  body {       
    align-items: stretch;
  }
}
@media screen and (max-width: 500px) {
  body {       
    align-items:center;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page__section_xl-wide {
  max-width: 1280px;
  margin: 0 auto 40px auto;
}
@media screen and (max-width:768px) {
  .page__section_xl-wide {
    max-width: 768px;
    margin: 0 auto;
  }  
}
.page__section_s-wide {
  max-width: 1280px;
  margin: 0 30px 40px 30px;
}
@media screen and (max-width:768px) {
  .page__section_s-wide {
    max-width: 768px;
    margin: 30px 15px;
  }  
}

@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);

@import url(./components/App/App.css);
/* header */
@import url(./components/Header/Header.css);
@import url(./components/HeaderTop/HeaderTop.css);
@import url(./components/HeaderBottom/HeaderBottom.css);
@import url(./components/Logo/Logo.css);
@import url(./components/Catalog/Catalog.css);
@import url(./components/SearchForm/SearchForm.css);
@import url(./components/HeaderSectionsTop/HeaderSectionsTop.css);
@import url(./components/HeaderSectionsBottom/HeaderSectionsBottom.css);
@import url(./components/HeaderSection/HeaderSection.css);
@import url(./components/ShoppingCart/ShoppingCart.css);
@import url(./components/Contacts/Contacts.css);
@import url(./components/SocialMediaImg/SocialMediaImg.css);
@import url(./components/Hours/Hours.css);
@import url(./components/HeaderMobile/HeaderMobile.css);
@import url(./components/BurgerMenu/BurgerMenu.css);
@import url(./components/ContextBurgerMenu/ContextBurgerMenu.css);
@import url(./components//HeaderTablet/HeaderTablet.css);