.balloon__card-list {
    padding: 0;
    display:grid;    
    justify-items: center;
    justify-content: center;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-auto-rows: minmax(209px, auto); */
    grid-template-columns: repeat(4, minmax(150px, 1fr));    
    /* grid-template-columns: repeat(auto-fill, minmax(329px, 2fr)); */    
    gap: 2em 1.5em;
    margin: 0 30px 40px 30px; 
    width: calc(100% - 30px*2);  
}
.balloon__card-list_top-sales {   
    grid-template-columns: repeat(5, minmax(163px, 1fr));   
    gap: 2em;    
}
.balloon__card-list_our-works {  
  display: flex;
  justify-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(395px, 1fr)); 
  grid-auto-rows: minmax(409px, auto); 
  gap: 2em;
  width: 100%;  
  margin: 0 0 40px 30px; 
}
.balloon__card-list_our-works > * {
    margin-right: 0;
  }
.balloon__card-list_our-works:last-of-type {
    overflow-x: hidden;
}

@media screen and (max-width:1105px) {    
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(4, minmax(180px, auto));   
        gap: 1em;    
    }    
}

@media screen and (max-width:850px) {    
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(4, minmax(133px, auto));           
    }    
}

@media screen and (max-width:768px) {   
    .balloon__card-list { 
        grid-template-columns: repeat(3, minmax(133px, 1fr));
    } 
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(3, minmax(133px, auto));           
    }     
}
@media screen and (max-width:634px) {   
    .balloon__card-list {        
        margin: 0 20px 30px 20px;
        width: calc(100% - 20px*2);        
    }    
}

@media screen and (max-width: 550px) {
    .balloon__card-list {
        grid-template-columns: repeat(2, minmax(133px, 1fr));        
        margin: 0 15px 30px 15px; 
        width: calc(100% - 15px*2);
        gap: 0.7em;       
    } 
    .balloon__card-list_top-sales {        
        grid-template-columns: repeat(2, minmax(133px, auto));                
    }    
}  
@media screen and (max-width:400px) {   
    .balloon__card-list {        
        margin: 0 11px 20px 11px;
        width: calc(100% - 11px*2);        
    }    
}
