.balloon__card-list {
    padding: 0;
    display:grid;
    align-items: start;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(6, 2fr);
    /* grid-template-columns: repeat(auto-fill, minmax(329px, 2fr)); */
    gap: 30px 20px;
    margin: 0 30px 40px 30px;
    max-height: 855px;
    overflow: hidden;
}
.balloon__card-list_top-sales {   
    grid-template-columns: repeat(auto-fill, minmax(248.78px, 1fr));
    gap: 30.22px; /* Расстояние между карточками */
    overflow: hidden; /* Скрыть лишние карточки, если не помещаются в один ряд */
    max-height: 423px;
}
@media screen and (max-width:1500px) {
    .balloon__card-list {
        grid-template-columns: repeat(4, 2fr);            
    }
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(auto-fill, minmax(248.78px, 1fr));   
        max-height: 445px;
    }    
}
@media screen and (max-width: 1024px) {
    .balloon__card-list {
        grid-template-columns: repeat(3, 2fr);
        max-height: 808px;       
    }    
}
@media screen and (max-width: 990px) {
    .balloon__card-list {
        max-height: 785px;       
    }    
}
@media screen and (max-width: 963px) {
    .balloon__card-list {
        max-height: 763px;       
    }    
}
@media screen and (max-width: 956px) {
    .balloon__card-list {
        max-height: 757px;       
    }    
}
@media screen and (max-width: 922px) {
    .balloon__card-list {
        max-height: 733px;       
    }    
}
@media screen and (max-width: 885px) {
    .balloon__card-list {
        max-height: 705px;       
    }    
}
@media screen and (max-width: 846px) {
    .balloon__card-list {
        max-height: 675px;       
    }    
}
@media screen and (max-width: 780px) {
    .balloon__card-list {
        max-height: 647px;       
    }    
}
@media screen and (max-width:768px) {
    .balloon__card-list {
        grid-template-columns: repeat(2, 3fr);
        gap: 25px 20px; 
        max-height: 1271px;             
    }    
}
@media screen and (max-width: 727px) {
    .balloon__card-list {
        max-height: 1251px;       
    }    
}
@media screen and (max-width: 708px) {
    .balloon__card-list {
        max-height: 1193px;       
    }    
}
@media screen and (max-width: 693px) {
    .balloon__card-list {
        max-height: 1189px;       
    }    
}
@media screen and (max-width: 679px) {
    .balloon__card-list {
        max-height: 1169px;       
    }    
}





@media screen and (max-width:635px) {
    .balloon__card-list {       
        margin: 0 20px 30px 20px;
    }    
}
@media screen and (max-width:550px) {
    .balloon__card-list {       
        margin: 0 15px 30px 15px;
    }    
}
@media screen and (max-width:450px) {
    .balloon__card-list {
        grid-template-columns: repeat(1, 4fr);        
    }    
}