.balloon__card-list {
    padding: 0;
    display:grid;
    align-items: start;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(6, 2fr);
    /* grid-template-columns: repeat(auto-fill, minmax(329px, 2fr)); */
    gap: 30px 20px;
    margin: 0 30px 40px 30px;   
}
.balloon__card-list_top-sales {   
    grid-template-columns: repeat(auto-fill, minmax(248.78px, 1fr));   
    gap: 30.22px;    
}
.balloon__card-list_our-works{
  /* display: flex;
  flex-direction: row; */
  display: grid;
  justify-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(395px, 1fr));  
  gap: 25px;
  width: 100%;
  /* width: 100% + 30px; */
  overflow: hidden;
  margin: 0 0 40px 30px; 
}

@media screen and (max-width:2181px) {   
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(5, 1fr);        
    }    
}
@media screen and (max-width:1823px) {
    .balloon__card-list {
        grid-template-columns: repeat(5, 2fr);            
    }
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(4, 1fr);
        
    }    
}
@media screen and (max-width:1587px) {    
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(5, 1fr);        
    }    
}
@media screen and (max-width:1500px) {
    .balloon__card-list {
        grid-template-columns: repeat(4, 2fr);            
    }
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(5, 1fr);
        gap: 25px;        
    }    
}
@media screen and (max-width:1308px) {   
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;        
    }    
}
@media screen and (max-width:1290px) {   
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;        
    }    
}
@media screen and (max-width:1090px) {   
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(4, 1fr);               
    }    
}

@media screen and (max-width: 1024px) {
    .balloon__card-list {
        grid-template-columns: repeat(3, 2fr);       
    } 
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(4, 1fr);               
    }     
}
@media screen and (max-width: 958px) {
    .balloon__card-list {
        grid-template-columns: repeat(4, 2fr);       
    } 
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(4, 1fr);               
    }     
}
@media screen and (max-width: 814px) {
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(3, 2fr);               
    }    
}
@media screen and (max-width: 768px) {
    .balloon__card-list {
        grid-template-columns: repeat(3, 2fr);        
    } 
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(4, 1fr);               
    }    
}
@media screen and (max-width: 745px) {
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(3, 2fr);               
    }    
}
@media screen and (max-width: 653px) {
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(3, 1fr);
               
    }    
}
@media screen and (max-width: 650px) {
    .balloon__card-list { 
        margin: 0 15px 30px 15px;                  
    }    
}
@media screen and (max-width:635px) {
    .balloon__card-list {       
        margin: 0 20px 30px 20px;
    }    
}

@media screen and (max-width: 600px) {
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(2, 2fr);               
    }    
}
@media screen and (max-width: 550px) {
    .balloon__card-list {
        grid-template-columns: repeat(2, 3fr);
        margin: 0 15px 30px 15px;        
    } 
    .balloon__card-list_top-sales { 
        grid-template-columns: repeat(2, 2fr);               
    }    
}

@media screen and (max-width:379px) {
    .balloon__card-list {
        grid-template-columns: repeat(1, 4fr);        
    }
    .balloon__card-list_our-works {
       margin: 0 15px 0 15px;
    }    
}
