.contacts__set {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin: 0 25px 0 33px;
}
.contacts__tel-box {
    display: flex;
}
.contacts__social-box {
    display: flex;
}

.contacts__rectangle {
    color: #323232;
    width: 16px;
}
.contacts__tel-number {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19.5px;
    color: #000000;
    padding: 0;
    margin: 5px 25px 5px 10px;
}
@media screen and (max-width: 1256px) {
    .contacts__tel-number {        
        font-size: 14px;
        line-height: 17.07px;            
    }
}
@media screen and (max-width: 1143px) {
    .contacts__tel-number {        
        font-size: 12px;
        line-height: 15.07px;            
    }
    .contacts__set {        
        margin: 0 15px 0 18px;
    }
}
@media screen and (max-width: 1070px) {
    .contacts__tel-number {        
        margin: 5px 15px 5px 5px;            
    }
}
@media screen and (max-width: 824px) {
    .contacts__tel-number {        
        margin: 5px;        
        font-size: 11px;
        line-height: 13.07px;                 
    }
}
@media screen and (max-width: 768px) {
    .contacts__set {       
        margin: 0 20px 0 20px;
    }
    .contacts__tel-number {        
        font-size: 15px;
        line-height: 19.5px;        
        margin: 5px 20px 5px 15px;
    }    
}
@media screen and (max-width: 726px) {
    .contacts__tel-number {
        margin: 5px 15px 5px 10px;
        font-size: 14px;
        line-height: 17.07px;              
    }
}
@media screen and (max-width: 600px) {
    .contacts__set {       
        margin: 0 10px;
    }
    .contacts__tel-number {        
        font-size: 12px;
        line-height: 15.5px;        
        margin: 5px 20px 5px 15px;
    }    
}
@media screen and (max-width: 557px) {
    .contacts__tel-number {        
        font-size: 12px;
        line-height: 15.5px;       
        margin: 5px 15px 5px 10px;
    }    
}
@media screen and (max-width: 529px) {
    .contacts__set {       
        display:none;
    }
}
